* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


.hero {

    width: 100%;
    height: 100vh;
    padding-left: 0;
    background: linear-gradient(45deg, #d2001a, #8579e2, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.title {
    display: flex;
    margin-left: 320px;
    font-size: 60px;
    color: white;
}

.container {
    height: 115px;
    width: 700px;
    cursor: default;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    position: relative;
    top: 46px;
    left: 150px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(221, 218, 218, 0.2));
}

.clock,
.container .span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {

    z-index: 999;
    background: #1b1b1b;
    border-radius: 6px;
    height: 94px;
    width: 675px;
    text-align: center;
}

#time {
    line-height: 85px;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 10px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;

}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.container .span {
    height: 00%;
    width: 100%;
    background: inherit;
}

.container .span:first-child {
    backdrop-filter: blur(10px);
}

.container .span:last-child {
    backdrop-filter: blur(20px);
}


.click {
    margin: 220px 242px;
    padding: 1px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.datetimedifference {
    border: 2px solid black;
    display: block;
    margin: 192px 151px;
    padding: 48px;
    width: 40%;
}

#Difference {
    /* border: 2px solid red; */
    width: 100%;
    margin-bottom: 30px;
    padding: 2px;
    color: black;
    font-size: 32px;
}

.datetime {
    color: rgb(3, 0, 8);
}

button {
    border: 2px solid rgb(163, 140, 140);
    border-radius: 4px;
    background-color: rgb(65, 106, 216);
    color: white;
    cursor: pointer;
    height: 25px;
    width: 138px;
}

button:hover {
    background-color: rgb(30, 177, 30);
    color: black;
}

#result {
    border: 2px solid white;
    background-color: #fff;
    color: black;
    height: 35px;
    width: 90%;
    margin-top: 20px;
    font-size: small;
}



.sidebar {
    width: 300px;
    height: 100%;
    background-color: #fff;
    color: #30197d;
    position: absolute;
    right: 0px;
    bottom: 0px;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.7);
    overflow: scroll;
}

.event {
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    background-color: #03a9fa;
}

.sidebar ul {
    margin-left: 19px;

}

@media(max-width:1230px) {
    .container {
        height: 115px;
        width: 650px;
    }

    .clock {
        height: 88px;
        width: 626px;
    }

    .title {
        margin-left: 257px;
    }

    .datetimedifference {
        margin: 198px 127px;
        padding: 18px;
    }


    .sidebar {
        width: 250px;
    }

}

@media(max-width:1124px) {
    .hero {
        width: 100%;
        height: 100vh;
    }

    .container {
        height: 100px;
        width: 604px;
        top: 80px;
        left: 87px;

    }

    .clock {
        height: 86px;
        width: 580px;
    }

    .title {
        margin-left: 190px;

    }

    #time {
        line-height: 72px;
        font-size: 78px;
        letter-spacing: 6px;

    }

    .click {
        margin: 190px 242px;
    }

    .datetimedifference {
        margin: 201px 127px;
        padding: 20px;
    }

    .sidebar {
        width: 240px;
    }

}

@media(max-width:954px) {

    .title {
        margin-left: 116px;
        font-size: 45px;
    }

    .container {
        height: 80px;
        width: 504px;
        top: 68px;
        left: 52px;
    }

    .clock {
        height: 63px;
        width: 487px;
    }

    #time {
        line-height: 67px;
        font-size: 72px;
        letter-spacing: 3px;
    }

    .click {
        margin: 169px 177px;
    }

    .datetimedifference {
        margin: 198px 75px;
        padding: 20px;
    }

    #Difference {
        font-size: 22px;
    }

    .sidebar {
        width: 200px;
    }
}

@media(max-width:777px) {
    .title {
        margin-left: 105px;
        font-size: 41px;
    }

    .container {
        height: 87px;
        width: 427px;
        top: 64px;
        left: 49px;
    }

    .clock {
        height: 74px;
        width: 408px;
    }

    #time {
        line-height: 66px;
        font-size: 60px;
        letter-spacing: 2px;
    }

    .click {
        margin: 176px 159px;
    }

    .datetimedifference {
        margin: 197px 106px;
        padding: 20px;
    }

    #Difference {
        font-size: 22px;
    }

    .even {
        font-size: 29px;
    }

    .sidebar {
        width: 170px;
    }

}

@media(max-width:680px) {
    .title {
        margin-left: 76px;
        font-size: 41px;
    }

    #time {
        line-height: 66px;
        font-size: 52px;
        letter-spacing: 2px;
    }

    .clock {
        height: 72px;
        width: 344px;
    }

    .container {
        height: 87px;
        width: 361px;
        top: 64px;
        left: 49px;
    }

    .click {
        margin: 176px 111px;
    }

    .datetimedifference {
        margin: 200px 89px;
        padding: 6px;
    }

    #result {
        height: 46px;
        width: 98%;
    }

    .sidebar {
        width: 160px;
    }

    .even {
        font-size: 29px;
    }
}

@media(max-width:580px) {
    .title {
        margin-left: 58px;
        font-size: 33px;
    }

    #time {
        line-height: 66px;
        font-size: 39px;
        letter-spacing: 1px;

    }

    .clock {
        height: 67px;
        width: 257px;
    }

    .container {
        height: 83px;
        width: 273px;
        top: 64px;
        left: 41px;
    }

    .click {
        margin: 158px 70px;
    }

    .datetimedifference {
        margin: 169px 53px;
        padding: 7px;
        width: 50%;
    }

    #result {
        height: 46px;
        width: 98%;
    }

    .sidebar {
        width: 150px;
    }
}

@media(max-width:474px) {
    .title {
        margin-left: 37px;
        font-size: 26px;
    }

    #time {
        line-height: 63px;
        font-size: 29px;
        letter-spacing: 1px;

    }

    .clock {
        height: 60px;
        width: 202px;
    }

    .container {
        height: 80px;
        width: 223px;
        top: 45px;
        left: 28px;
    }

    .click {
        margin: 158px 42px;

    }

    .datetimedifference {
        margin: 164px 33px;
        padding: 6px;
        width: 42%;
    }

    #Difference {
        font-size: 16px;
        margin-bottom: 6px;
    }

    #result {
        height: 46px;
        width: 98%;
    }

    .sidebar {
        width: 140px;
    }
}

@media(max-width:399px) {
    .title {
        margin-left: 22px;
        font-size: 20px;
        padding-top: 6px;
    }

    #time {
        line-height: 60px;
        font-size: 22px;
        letter-spacing: 1px;

    }

    .clock {
        height: 53px;
        width: 151px;

    }

    .container {
        height: 66px;
        width: 166px;
        top: 34px;
        left: 28px;
    }

    .click {
        margin: 131px 21px;
    }

    .datetimedifference {
        margin: 135px 18px;
        padding: 6px;
        width: 51%;
    }

    #result {
        height: 46px;
        width: 98%;
    }

    .sidebar {
        width: 130px;
    }
}

@media(max-width:341px) {
    #time {
        line-height: 59px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .click {
        margin: 131px 21px;
    }

    .clock {
        height: 52px;
        width: 131px;

    }

    .container {
        height: 66px;
        width: 148px;
        top: 34px;
        left: 28px;
    }
}