.container{
    display:felx;
    justify-content: space-between;
    margin:20px;
}
.sidebar{
    width:30%;
    background-color: #f2f2f2;
    padding:20px;
}
.main-content{
width:65%;
}
ul{
    padding:0;
}
li{
    list-style-type:none;
    margin-bottom:10px;
}